*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    --font-color-black: #000;
    --color-pink: #FF3571;
    --color-grey: #DDD;
    --font-size-h1: 3.375rem;
    --font-size-logo1-ph: 1.5rem;
    --font-size-logo2: 0.75rem;
    --font-size-p1-h4: 1.125rem;
    --font-size-a-p2: 0.875rem;
    --font-size-h2: 2.375rem;
    --font-size-h3: 1.75rem;
    --font-size-submit: 1.188rem;
    --font-size-zahl: 3.25rem;
    --color-dark-grey: #757575;
    --color-white: #FFF;
}



h1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h1);
}

h2 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h3);
}

h4 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

.logo1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-logo1-ph);
}

.logo2 {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-logo2);
}

p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-a-p2);
    line-height: 200%;
}

.headline p, .idea p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

.headline a{
    font-family: 'Roboto-Bold';
    color: var(--color-pink);
    font-size: var(--font-size-p1-h4);
    text-decoration: none;
}

.zahl {
    font-family: 'Roboto-Bold';
    color: var(--color-grey);
    font-size: var(--font-size-zahl);
}

input::placeholder {
    font-family: Arial;
    color: var(--color-dark-greygrey);
    font-size: var(--font-size-logo1-ph);
}

input[type="submit"] {
    font-family: Arial;
    color: var(--color-white);
    font-size: var(--font-size-submit);
}

.schlusstext {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

/* -------------------header-------------------- */

.headerLogo img{
    width: 3rem;
    position: fixed;
    margin: 3rem 1rem ;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.headerRechts{
    background-image: url(../img/Lev3_2_Project_css-vertiefung_designer-challenge/ilustracion1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height:90%;
}

.headerRechts img{
    width: 100%;
    height: 100%;
}

.headerLinks{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.headerRechts img{

    animation: float 2s  0.2s infinite forwards alternate;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

.headerTitel{
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem ;
}

.headline{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-left: 10vw;
}

.bilder{
    width: 100%;
    height: 100vh;
}

.bilder img{
    width: 100%;
    height: 100vh;
}

.idea {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:5vw;
}

.idea h2 {
    width: 50%;
    height: 100%;
    margin: 10vh 0 0 15vw;
    
}

.idea p{
    /* width: 50%;
    height: 100%; */
    margin: 10vh 15vw 0 0;
    line-height: 200%;
}

.challenge{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}

.challenge h2{
    /* width: 50%; */
    margin-left: 15%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "ask think"
    "design share";
    margin: 0 10%;
}

.start h4::before{
    content: url(../img/Lev3_2_Project_css-vertiefung_designer-challenge/title01.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.think h4::before{
    content: url(../img/Lev3_2_Project_css-vertiefung_designer-challenge/title02.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.design h4::before{
    content: url(../img/Lev3_2_Project_css-vertiefung_designer-challenge/title03.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.share h4::before{
    content: url(../img/Lev3_2_Project_css-vertiefung_designer-challenge/title04.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.start{
    grid-area: ask;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 20vh;
    width: 20vw;
}

.think{
    grid-area: think;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 20vh;
    width: 20vw;
}

.design{
    grid-area: design;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 20vh;
    width: 20vw;
}

.share{
    grid-area: share;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 20vh;
    width: 20vw;
}

.ready{
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    margin: 30% 0 20% ;
}

.ready p{
    text-align: center;
    width: 30%;
}

.ready h3{
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.steps img {
    width: 20vw;
}

.stepsLeft{
    display: flex;
    margin: 0 20%;
    gap: 10%;

}

.stepsRight{
    display: flex;
    margin: 0 20%;
    gap: 10%;
}

.emoji img{
    width:5vh;
}

.links,
.rechts {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

footer{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 40vh;
}

footer p{
    width:20vw;
    align-self: center;
}

input[type=email]{
    width: 30vw;
    height: 10vh;
    text-align: center;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 5px 10px #f5f5f5;
    align-self: center;
}

input[type=email]::placeholder {
    color: #757575;
    text-align: center;
    font-family: "Arial";
    font-size: 1.5rem;
}

input[type=submit]{
    border-radius: 4px;
    background: #FF3571;
    height: 10vh;
    width: 20vw;
    align-self: center;
}

.schlusstext{
    margin-top: 20vh;
    width: 80%;
    display: flex;
}

@media only screen and (max-width: 992px) { 
    .headerRechts{
        position: absolute;
        right: 0;
        z-index: -1;
        width: 70vw;
    }
    .bilder{
        margin-bottom: 5%;
    }
    .idea{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .idea h2{
        margin: 15% 0 5% 0;
    }
    .idea p{
        margin: 0 0 25% ;
        width: 80%;
    }
    .challenge h2{
        margin: 0 15% 5%;
        text-align: center;
        align-self: center;
    }
    .challenge h4{
        text-align: center;
        align-self: center;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "ask"
        "think"
        "design"
        "share";
    }
    .start, .think, .design, .share{
        width: 80%;
        align-self: center;
        margin: auto;
    }
    .stepsLeft, .stepsRight{
        margin: 0 10%;
    }

}

